{% extends "index.html" %}

{% block title %}
    contact
{% endblock title %}

{% block body %}
<form method="post">
    {% csrf_token %}

    {% comment %} <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Val 1</label>
      <input type="text" name='val1' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">opr</label>
      <br>
      <select name="opr" class="form-control">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">val2</label>
      <input type="text" name='val2' class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">output</label>
        <input type="text" value="{{ca}}" class="form-control" id="exampleInputPassword1">
      </div> {% endcomment %}

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">obj1</label>
        <input type="text" name='obj1' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">obj2</label>
        <input type="text" name='obj2' class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">obj3</label>
        <input type="text" name='obj3' class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">obj4</label>
        <input type="text" name='obj4' class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">obj5</label>
        <input type="text" name='obj5' class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">total</label>
          <input type="text" value="{{total}}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">percentage</label>
        <input type="text" value="{{per}}" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Division</label>
        <input type="text" value="{{div}}" class="form-control" id="exampleInputPassword1">
      </div>

  </form>
{% endblock body %}